{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
  {% for i in mes_annonces %}
<article class="media content-section">
	<img class="rounded-circle article-img" src="{{ i.images.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" > En vente actuellement  {{ i.prixBase|add:i.totalEnchere}} !</a>
      <small class="text-muted"></small>
    </div>
  </div>
</article>
{% endfor %}
{% for j in ventes %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ j.images.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" > Vendu  {{ j.prixBase}} !</a>
      <small class="text-muted"></small>
    </div>
  </div>
</article>
{% endfor %}
{% for k in invendus %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ k.images.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" > Invendu  {{ k.prixBase}} !</a>
      <small class="text-muted"></small>
    </div>
  </div>
</article>
{% endfor %}
      {% endif %}
{% endblock content %}