{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Supprimer votre compte</legend>
                <h2>Êtes-vous sûr de vouloir supprimer votre compte ? "{{ user.username }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" >Oui, Supprimer</button>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Annuler</a>
            </div>
        </form>
    </div>
{% endblock content %}